config wrtmonitor 'main'
        option enabled '1'
        option server_url ''
        option device_token ''
        option device_id ''
        option name ''
        option interval '60'
        option auto_update '1'
        option update_interval_hours '6'
        option update_channel 'stable'
        option allow_downgrade '0'
        option recovery_mode '0'
        option staged_firmware_sha256 ''
        option staged_firmware_preserve '1'
